.footer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 5vh;
    align-items: center;
}

.footer p {
    font-weight: 600;
}

.footer ul {
    list-style: none;
    display: flex;
    column-gap: 20px;
    margin: 20px 0px;
}

.dark > .right > img {
    filter: invert(100%);
}