.container {
    display: flex;
    padding: 5vw;
    border-radius: 10px;
    align-items: center;
}

.light {
    background-color: #F6F6F6;
}

.light p {
    color: #656565;
}

.light li {
    background-color: #D2D1D0;
}

.light a {
    color: #212121;
}

.dark {
    background-color: #222326;
}

.dark p {
    color: #F5F5F5;
}

.dark li {
    background-color: #ffffff37;
}

.dark a {
    color: #fff;
}

.container h3 {
    font-size: 1.8rem;
}

.container p {
    max-width: 90%;
    margin-bottom: 20px;
}

.list {
    list-style: none;
    display: flex;
    column-gap: 10px;
    margin: 20px 0px;
}

.list li {
    padding: 5px 10px;
    border-radius: 20px;
}

.container a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 100%;
}