.slideSection {
    background-color: #F6F6F6;
    margin-top: -5px;
    padding: 5px 10px;
}

.list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.list img {
    width: 100%;
}