@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-size: 1.1rem;
    font-family:  "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app.light {
    background-color: #E9E9E9;
    color: #000;
}

.app.dark {
    background-color: #1E1F22;
    color: #fff;
}